.detalhe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; // pega a altura total da tela
  background-color: #f8f8f8;
}

.product-details {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  font-family: Arial, sans-serif;

  border-radius: 15px;
  background-color: #eeecec;
  max-width: 720px; // menor que antes
  width: 100%;
  height: auto; // Melhor que height fixo
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 3.2em;

  .image-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    img.imagem-principal {
      width: 100%;
      max-width: 280px;
      height: 280px;          // altura fixa para uniformizar
      object-fit: contain;    
      border-radius: 8px;
      background-color: #fff; // opcional para evitar transparência
    }

    .thumbnails {
      display: flex;
      gap: 0.5rem;
      margin-top: 1rem;
      flex-wrap: wrap;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border: 1px solid #ccc;
        border-radius: 6px;
        cursor: pointer;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.05);
          border-color: #0a8754;
        }
      }

      .selecionada {
        border-color: #0a8754;
        box-shadow: 0 0 5px #0a8754;
      }
    }
  }

  .info-section {
    flex: 1.2;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    .price {
      font-size: 1.5rem;
      color: #0a8754;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .buttons {
      display: flex;
      gap: 1rem;
      margin-bottom: 2rem;

      button {
        padding: 0.7rem 1.5rem;
        font-size: 1rem;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.2s ease;
      }

      .buy {
        background-color: #0a8754;
        color: white;

        &:hover {
          background-color: #097248;
        }
      }
    }

    .description {
      h3 {
        margin-bottom: 0.5rem;
      }

      p {
        line-height: 1.5;
        color: #555;
      }
    }
  }
}
